@model TextDuck.Models.CommentItem

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
    <div class="id-saman">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
      </div>
            @Html.HiddenFor(model => model.srtId)
        <div class="textabox-allt-saman">
            <div class="Title">
                @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
            <div class="Text">
                @Html.TextAreaFor(model => model.Text, new { @cols = "70", @rows = "10" })
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
           <input type="submit" value="Vista athugasemd" class="btn btn-default" />
           </div>
         </div>
    </div>
    
}

<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Fara á forsíðu", "Index")</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



