@model TextDuck.Models.SubtitlesViewModel

@{
    ViewBag.Title = "Valið:";
}
<div class="form-group">
    @Html.LabelFor(m => m.Language, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.Label("movie", "Kvikmynd")
        @Html.RadioButtonFor(m => m.Category, "false", new { @class = "movie" })
        @Html.Label("show", "Sjónvarpsþáttur")
        @Html.RadioButtonFor(m => m.Category, "true", new { @class = "show" })
    </div>
</div>