@model IQueryable<TextDuck.Models.srtFiles>


<h2>Beiðnir</h2>
<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Bæta við beiðni", "CreateRequest", "Home")</button>
</div>




<table class="table">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Tungumál
        </th>
        <th>
            Flokkur
        </th>
        <th>
            Tegund
        </th>
        <th>
            Dagsetning
        </th>
        <th>
            Aðgerðir
        </th>
        <th>
            Eftirspurn
        </th>
    </tr>

 

    @foreach (var item in Model)
    {
         @Html.HiddenFor(modelItem => item.Status)
         @Html.HiddenFor(modelItem => item.Id)
         
        <tr>
            <td>
                @Html.ActionLink(item.Title, "ViewSrt", new { Id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Færa í \"í vinnslu\"", "RequestMoved", new { id = item.Id })
            </td>
            <td>
                
                
                <a href="@Url.Action("AddVote", new { item.Id })">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                    <span class="sr-only">AddVote</span>
                </a>
               @Html.DisplayFor(modelItem => item.Votes)

            </td>
        </tr>
    }

</table>



<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Fara á forsíðu", "Index")</button>
</div>
