@model IQueryable<TextDuck.Models.srtFiles>

<h2> Skjátextar í vinnslu</h2>

<table class="table">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Tungumál
        </th>
        <th>
            Flokkur
        </th>
        <th>
            Tegund
        </th>
        <th>
            Dagsetning
        </th>
        <th>
            Aðgerðir
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Status")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Breyta skrá", "TextBoxSrt", new { id = item.Id }) |
                @Html.ActionLink("Breyta upplýsingum", "FileAppearanceChanges", new { id = item.Id }) |
                @Html.ActionLink("Bæta við athugasemd", "AddComment", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Fara á forsíðu", "Index")</button>
</div>
