@model IQueryable<TextDuck.Models.srtFiles>

<h2>Astand efnis</h2>
<table>
    <th>
        <td>Nafn efnis</td> <&nbsp><td>Astand</td>
    </th>
   
@foreach (var item in Model)
{
    <tr>
        <div class="jumbotron">
            <p class="Status">
             <td>   @Html.DisplayFor(modelItem => item.Title) </td>
             <td>  @Html.DisplayFor(modelItem => item.Status) </td>
                <span class="glyphicon glyphicon-time"></span>
            </p>
           <h2 class="Title">@Html.ActionLink(item.Status, "Status")</h2>
            <p class="Text">@Html.DisplayFor(modelItem => item.Status)</p>-->
        </div>
    </tr>
    </table>
}
  
<link href="/Content/Table.css" rel="stylesheet" />     

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
