@model TextDuck.Models.FileUpload

@{
    ViewBag.Title = "Skjátextar";
}
<h3>Flokkar</h3>
<div class="form-group">
    @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.Label("female", "KVK")
        @Html.RadioButtonFor(m => m.Gender, "false", new { @class = "female" })
        @Html.Label("male", "KK")
        @Html.RadioButtonFor(m => m.Gender, "true", new { @class = "male" })
    </div>
</div>
<h3>Tegund</h3>