@model IQueryable<TextDuck.Models.srtFiles>

<h1>Skjatextar</h1>

<div>
    @Html.ActionLink("Bæta við skjátexta", "Create", "Home")
</div>

@foreach (var item in Model)
{
    <div class="jumbotron">
        <p class="Date">
            @Html.DisplayFor(modelItem => item.Date)
            <span class="glyphicon glyphicon-time"></span>
        </p>
        <p>
            <div class="Title"> @Html.ActionLink(item.Title, "Subtitle")</div>
            @Html.DisplayFor(modelItem => item.Status)&nbsp;
            @Html.DisplayFor(modelItem => item.Language)&nbsp;
            @Html.DisplayFor(modelItem => item.Genre)&nbsp;
            @Html.DisplayFor(modelItem => item.Category)
         </p>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
