@model IQueryable<TextDuck.Models.srtFiles>

<h1>Skjátextar</h1>

<div>
    @Html.ActionLink("Bæta við skjátexta", "Create", "Home")
</div>


<table class="table table-hover">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Tungumal
        </th>
        <th>
            Flokkur
        </th>
        <th>
            Tegund
        </th>
        <th>
            Dagsetning
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "ViewSrt", new { Id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Breyta skrá", "TextBoxSrt", new { Id = item.Id }, null) |
                @Html.ActionLink("Breyta upplýsingum", "FileAppearanceChanges", new { Id = item.Id }, null) |
                @Html.ActionLink("Commenta", "AddComment", new { Id = item.Id }, null)
            </td>
        </tr>
    }

</table>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
