@model IQueryable<TextDuck.Models.srtFiles>

<h1>Skjátextar</h1>
<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Bæta við skjátexta", "Create", "Home")</button>
    <button type="button" class="btn btn-default">@Html.ActionLink("Athugasemdir skjátexta", "ViewComment", "Home")</button>
</div>

<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Nafn", "Subtitle", "Home")
        </th>
        <th>
            @Html.ActionLink("Tungumal", "SubtitleLanguage", "Home")
        </th>
        <th>
            @Html.ActionLink("Flokkur", "SubtitleCategory", "Home")
        </th>
        <th>
            @Html.ActionLink("Tegund", "SubtitleGenre", "Home")
        </th>
        <th>
            @Html.ActionLink("Dagsetning", "SubtitleDate", "Home")
        </th>
        <th>
            Aðgerðir
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "ViewSrt", new { Id = item.Id, })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Breyta skrá", "TextBoxSrt", new { Id = item.Id }, null) |
                @Html.ActionLink("Breyta upplýsingum", "FileAppearanceChanges", new { Id = item.Id }, null) |
                @Html.ActionLink("Bæta við athugasemd", "AddComment", new { Id = item.Id, Title = item.Title }, null)
            </td>
        </tr>
    }
</table>

<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Fara á forsíðu", "Index")</button>
</div>
