@model TextDuck.Models.srtFiles



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>srtFiles</h4>
        <hr />

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
          
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @cols = "150", @rows = "20" })
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>
        </div>


}


