@model IQueryable<TextDuck.Models.CommentItem>

<link href="/Content/Table.css" rel="stylesheet" />
<h2>Athugasemdir</h2>

@foreach (var item in Model)
{
    <div class="jumbotron">
        <p class="Date">
            @Html.DisplayFor(modelItem => item.DateCreated)
            <span class="glyphicon glyphicon-time"></span>
        </p>
        <h2 class="Title">skjátexti fyrir: @Html.ActionLink(item.Title, "AddComment", new { id = item.Id })</h2>
        <p class="Text">@Html.DisplayFor(modelItem => item.Text)</p>
        <p class="Notendanafn">Notandi: @Html.DisplayFor(modelItem => item.UserName)</p>
       <div class="Ny-Athugasemd"> @Html.ActionLink("Ný athugasemd", "AddComment", new { Id = item.Id, Title = item.Title }, null)</div>
    </div>

}


<div>
    @Html.ActionLink("Fara á forsíðu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


